{% extends "layout.html" %}
{% load socialaccount %}
{% block script %}
    {% block list_script %}{% endblock %}
{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/list/head.css">
    {% block list_style %}{% endblock %}
{% endblock %}
{% block contents %}
    <div class="div_list_head">
        Peep Diary
        <button class="btn btn-default pull-right" style="margin-top:12px"><i class="xi-search"></i></button>
        <button class="btn btn-default pull-right" style="margin-top:12px"><i class="xi-cog"></i></button>
    </div>
    <ul class="ul_list_tab">
        <li>달력</li>
    </ul>
    {% block list_contents %}{% endblock %}
{% endblock %}